<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{assets}}/styles.css">
  </head>
  <body>
    {{> body }}
  </body>
</html>